<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning fs-3" href="{% url 'home' %}">Amburguer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto ms-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active text-warning" aria-current="page" href="#">
                        Linkedin
                        <i class="fa-brands fa-linkedin text-warning ms-2" style="color: #c9a218;"></i>
                        <span class="text ms-2 text-warning">wendell</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">E-mail
                        <i class="fa-solid fa-envelope text-warning" style="color: #c9a218;"></i>
                        <span class="text ms-2 text-warning ms-2">wendell_xw20@hotmail.com</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-large btn-warning" aria-current="page" href="">
                        <span class="text">Login</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="btn btn-large btn-warning" aria-current="page" href="">
                        <span class="text">Cadastra-se</span>
                    </a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>